div.textbox {
  border: 1px solid #111;
  width: 170px;
  height: 40px;
  padding: 5px;
  text-align: right;
}

button {
  font-size: 20px;
  width: 40px;
  height: 40px;
}

input {
  font-size: 20px;
  width: 40px;
  height: 40px;
}